input::placeholder {
  text-align: left;
  color: rgb(182 182 182);
  font-family: AtlasGrotesk, sans-serif;
}

h2 {
  color: rgb(236 121 121);
  font-size: 14px;
  font-weight: 500;
  font-family: "Brandon Grotesque", sans-serif;
  text-align: center;
}

select,
input {
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  border-color: lightgrey;
  height: 35px;
}

select {
  background-color: rgb(232 232 232);
  font-family: AtlasGrotesk, sans-serif;
  font-size: 10px;
  text-align: left;
}

button {
  float: right;
  background-color: rgb(236 121 121);
  color: white;
  padding: 6px 22px;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
}

form {
  max-width: 300px;
}

label {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
