body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid black;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

h1 {
  margin: 0;
}

span {
  font-size: 1rem;
}

.hidden {
  display: none;
}
