.Container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  margin: 1rem;
}

.Panel {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 22rem;
}

.title,
.descrip {
  border: 0.5px solid black;
}

.title {
  background: lightgrey;
  color: black;
}

.descrip {
  color: black;
  text-align: left;
  padding: 0 1rem;
}
