.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
}

.name {
  margin: 0.5rem;
}

.arrow {
  margin: 0 1rem;
  scale: 160%;
}

.image-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
}

img {
  max-width: 60%;
  max-height: 100%;
  border-radius: 5px;
}

.dot {
  margin: 0.5rem 0.2rem;
  scale: 80%;
}

.dot:hover,
.arrow:hover {
  transform: scale(130%);
}
