.container {
  display: flex;
}

#toptop {
  border-bottom: lightgray;
}

.row {
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  scale: 40%;
  margin-left: 0;
}

#top-row {
  display: flex;
  align-items: center;
}

button {
  background-color: white;
  border: white;
}

#contact-us {
  background-color: navy;
  color: white;
}

.main-img {
  background-image: url("images/hero.jpg");
  position: relative;
  background-size: cover;
  height: 400px;
  width: 700px;
  top: 50px;

  /* color: whitesmoke; */
}

#emr-title {
  /* position: absolute; */
  width: 300px;
}

#emr-p {
  /* position: absolute; */
  width: 400px;
}

#get-started {
  position: absolute;
  background-color: navy;
  color: white;
  border-radius: 10px;
}

.overlay {
  background: rgb(152 152 152 / 35%);
  width: 100%;
  height: 100%;
}
