.container {
  margin: 0 20px;
}

#toptop {
  border-bottom: 1px solid rgb(158 158 158);
}

.row {
  display: flex;
  justify-content: center;
  font-family: Avenir, serif;
}

#logo {
  display: flex;
  scale: 40%;
}

#top-row {
  display: flex;
  align-items: center;
}

button {
  background-color: white;
  border: white;
}

#contact-us {
  background-color: navy;
  color: white;
}

.main-img {
  margin-top: 50px;
  background-image: url("images/hero.jpg");
  position: relative;
  background-size: cover;
  height: 400px;
  width: 800px;
  color: whitesmoke;
}

#emr-title {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 20px;
}

#emr-p {
  position: absolute;
  width: 400px;
  top: 100px;
  left: 20px;
}

#get-started {
  position: absolute;
  background-color: navy;
  color: white;
  border-radius: 10px;
  bottom: 40px;
  left: 20px;
  height: 40px;
  width: 120px;
}

.overlay {
  background: rgb(103 103 103 / 45%);
  width: 100%;
  height: 100%;
}

#locations {
  margin-top: 50px;
}

.col-full {
  text-align: center;
}

#p-clincians {
  width: 500px;
}

.location-block {
  background: beige;
}
